<header class="header">
  <nav class="header__nav">
    <a class="nav__logo" href="/">
      Brain Boost!
    </a>
    {{#if isLoggedIn}}
      <div class="nav__links-container">
        <a class="nav__link" href="/sets/create">Add Set</a>
        <a class="nav__link" href="/sets">Your Sets</a>
        <a class="nav__link" href="/api/logout">Logout</a>
      </div>
    {{else}}
      <div class="nav__links-container" id="nav__links_logged-in">
        <a class="nav__link" href="/login">Login</a>
        <a class="nav__link" href="/signup">Sign Up</a>
      </div>
    {{/if}}
  </nav>
</header>
