{{> header}}
<main>
    <section class="hero">
        {{#if isLoggedIn}}
        <h2 class="hero_subtitle">Enhance your studying with our flashcards app!</h3>
        <a class="hero_btn" href="/sets/create">Create New Set</a>
        {{else}}
        <h2 class="hero_subtitle">Sign up today to enhance your studying!</h2>
        <a class="hero_btn" href="/signup">Signup</a>
        {{/if}}
    </section>
    <section class="daily-fact">
      <div class="fact__container">
        <h2 class="fact__title">Random Fact of the Day</h2>
      </div>
    </section>
    <section class="benefits">
      <h2 class="benefits_title">Flashcard Benefits</h2>
      <div class="benefits-container">
        <div class="benefit">
          <img class="benefit_img" src="/images/benefit-1.jpg" alt="">
          <h4 class="benefit_subheading">Helps Memorization</h4>
          <p class="benefit_description"><a href="https://www.shichida.com.au/blog/the-power-of-flashcards-how-they-are-used-to-boost-learning/">The Power of flashcards</a> states "flashcard learning stimulates the brain to retain information by engaging the visual and auditory senses"</p>
        </div>
        <div class="benefit">
          <img class="benefit_img" src="/images/benefit-2.jpg" alt="">
          <h4 class="benefit_subheading">Improves Concentration</h4>
          <p class="benefit_description"><a href="https://www.shichida.com.au/blog/the-power-of-flashcards-how-they-are-used-to-boost-learning/">The Power of flashcards</a> states that using flashcards "trains the brain to concentrate and filter out distractions, leading to better focus and an increased ability to absorb information"</p>
        </div>
        <div class="benefit">
          <img class="benefit_img" src="/images/benefit-3.jpg" alt="">
          <h4 class="benefit_subheading">Faster Learning</h4>
          <p class="benefit_description"><a href="https://www.shichida.com.au/blog/the-power-of-flashcards-how-they-are-used-to-boost-learning/">The Power of flashcards</a> states that "the fast-paced nature of flashcard learning encourages the brain to process information more quickly, accelerating the learning process."</p>
        </div>
      </div>
    </section>
<script>
const factContainer = document.querySelector(".fact__container")
document.body.onload = function(e) {
  fetchApiInfo()
}

 function fetchApiInfo() {
  fetch('https://uselessfacts.jsph.pl/api/v2/facts/today?language=en', {
    method: 'GET',
    headers: {
      "Content-Type": "application/json"
    }
  })
  .then(function(res) {
    if (res.status !== 200) {
      throw new Error('No Data Found')
    } else {
      console.log(res)
      return res.json()
    }
  })
  .then(renderFact)
  .catch(function(err) {
    console.log(err.message)
  })
 }

function renderFact (factData) {
  let fact = document.createElement('h3')
  fact.className = "fact__text"
  fact.textContent = factData.text
  console.log(fact)
  factContainer.appendChild(fact)
}

</script>
</main>
{{>footer}}