{{> header}}
<main>
  <div class="login">
    <h2>Login</h2>
    <form class="login__form" action="/api/login" method="POST">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required>
    {{#if error}}
        <p class="error">{{error}}</p>
    {{/if}}
      <button class="login__btn">Login</button>
    </form>
    <p class="login__account">Don't have an account? <a href="/signup">Sign up here</a></p>
  </div>
</main>
{{>footer}}