:root {
  --primary: #3C675F;
  --secondary: #502A3D;
  --secondary-light: #5E3147;
  --text-color-light: #F6F6F6;
  --text-color-dark: #020303;
  --font-size: 14px;
}

body {
  background-color: var(--text-color-light);
  color: var(--text-color-dark);
  font-size: var(--font-size);
  padding: 0;
  margin: 0;
  border: 0;
  font-family: helvetica;
  min-height: 100vh;
}

main {
  min-height: 100vh;
}

h1 {
  font-size: calc(var(--font-size) * 2.25);
}
h2 {
  font-size: calc(var(--font-size) * 2);
}
h3 {
  font-size: calc(var(--font-size) * 1.5);
}

a {
  color: var(--secondary);
  transition: color 200ms;
  font-size: calc(var(--font-size) * 1.10);
}
a:hover,
a:focus {
  font-size: calc(var(--font-size) * 1.06);
  color: var(--secondary-light);
}

/* Header */
.header {
  background-color: var(--primary);
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}

.header__nav {
  padding: 0 25px;
  display: flex;
  width: 100%;
}

.nav__logo {
  font-size: calc(var(--font-size)* 2.25);
  font-weight: 700;
  text-decoration: none;
  color: var(--text-color-light);
  width: 200px;
  margin-right: auto;
}

.nav__logo:hover, .nav__logo:focus {
  font-size: calc(var(--font-size) * 2.22);
  color: var(--text-color-light);
  transition: 500ms;
}

.nav__links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 255px;
}

#nav__links_logged-in {
  width: 140px;
}

.nav__link {
  color: var(--text-color-light);
  text-decoration: none;
  font-size: calc(var(--font-size) * 1.20);
}

.nav__link:hover, .nav__link:focus {
  font-size: calc(var(--font-size) * 1.17);
  color: var(--text-color-light);
  text-decoration: underline solid 2px var(--text-color-light);
  transition: 500ms;
}

/* Footer */
.footer {
  background-color: var(--primary);
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
  bottom: 0;
}

.footer > p {
  color: var(--text-color-light);
}

/* Homepage */
.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('/images/hero-background-darken.jpg');
  background-size: cover;
  height: 500px;
  color: var(--text-color-light);
  row-gap: 50px;
}

.hero_title {
  margin-top: -20px;
}

.hero_btn {
  width: auto;
  background-color: var(--primary);
  padding: 20px;
  text-decoration: none;
  color: var(--text-color-light);
  font-size: calc(var(--font-size) * 1.15);
  border-radius: 10px;
}

.hero_btn:hover, .hero_btn:focus {
  font-size: calc(var(--font-size) * 1.11);
  color: var(--text-color-light);
  transition: 500ms;
}

.daily-fact {
  background-color: var(--secondary);
  padding: 80px 30px;
}

.fact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color-light);
}

.benefits {
  margin: 50px 20px;
}

.benefits_title {
  text-align: center;
  margin-bottom: 40px;
}

.benefits-container {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.benefit {
  border: var(--secondary) solid 4px;
  max-width: 292px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 15px;
}

.benefit_img {
  margin-top: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.benefit_subheading {
  margin-top: 25px;
  margin-bottom: 2px;
}

.benefit_description {
  margin-bottom: 15px;
}

/* Study Sets */
.studysets {
  margin: 50px 20px;
}

.studysets__title {
  text-align: center;
  margin-bottom: 50px;
}

.studysets__container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.studyset-container {
  border: var(--secondary) solid 4px;
  width: 200px;
  height: 200px;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: var(--secondary);
}

.studyset__title, .studyset__description { 
  color: var(--text-color-light);
}

.studyset__title {
  margin-bottom: 10px;
}

.studyset-container:hover, .studyset-container:focus{
  scale: .98;
  background-color: var(--secondary-light);
  transition: 500ms;
}

.studysets_notloggedin {
  text-align: center;
  background-color: var(--secondary);
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.studysets_notloggedin > h3 {
  margin-top: 0;
  margin-bottom: 40px;
}

.studysets_notloggedin > h3, .studysets_notloggedin > a {
  color: var(--text-color-light);
}

.studysets_notloggedin > a:hover, .studysets_notloggedin > a:focus {
  transition: 500ms;
}

.studyset__btns {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

.studyset__delete-btn, .studyset__edit-btn {
  background-color: var(--text-color-light);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.studyset__delete-btn:hover, .studyset__edit-btn:hover, .studyset__delete-btn:focus, .studyset__edit-btn:focus {
  scale: .97;
  cursor: pointer;
  transition: 500ms;
}

/* View Set */
.viewset {
  margin: 50px 0;
}

.viewset__description, .viewset__title {
  text-align: center;
  padding: 0 20px;
}

.viewset__title {
  margin-bottom: 35px;
}

.viewset__description {
  margin-bottom: 40px;
}

.viewset__btns {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
}

.viewset__delete-btn, .viewset__edit-btn {
  width: auto;
  background-color: var(--primary);
  padding: 15px 20px;
  color: var(--text-color-light);
  font-size: calc(var(--font-size) * 1.10);
  border-radius: 15px;
  border: none;
}

.viewset__delete-btn:hover, .viewset__edit-btn:hover, .viewset__delete-btn:focus, .viewset__edit-btn:focus {
  cursor: pointer;
  scale: .98;
  transition: 500ms;
}

.viewset__flashcards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 50px 20px;
  border-top: var(--secondary) solid 2px;
}

.viewset__flashcard {
  width: 200px;
  height: 200px;
  background-color: var(--secondary);
  color: var(--text-color-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

/* Create Set */
.create {
  margin: 50px 30px;
}

.create > h2 {
  text-align: center;
}

.create__form-container {
  background-color: var(--secondary);
  padding: 50px;
  border-radius: 15px;
}

.create__form {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}

.create__form > label {
  color: var(--text-color-light);
  margin-bottom: -30px;
  font-size: calc(var(--font-size) * 1.15);
  font-weight: 500;
}

.create__form > input {
  border: none;
  border-bottom: var(--text-color-light) solid 2px;
  background-color: var(--secondary);
  color: var(--text-color-light);
  padding: 10px 8px 8px;
}

.create__form > input::placeholder {
  color: var(--text-color-light);
  font-size: calc(var(--font-size) * .95);
  font-weight: 300;
}

.create__form > input:focus {
  outline: 2px solid var(--secondary);
}

.create__flashcards-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.flashcard {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 20px 30px;
  color: var(--text-color-light);
  border: var(--text-color-light) solid 2px;
  background-color: var(--secondary-light);
  margin-bottom: 20px;
  max-width: 250px;
  border-radius: 10px;
}

.flashcard > h4 {
  text-align: center;
  font-size: calc(var(--font-size) * 1.15);
  font-weight: 500;
}

.flashcard__inputs-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}


.term, .answer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.term > label, .answer > label {
  margin-bottom: 5px;
  font-size: calc(var(--font-size) * 1.10);
  font-weight: 500;
}

.term > input, .answer > input {
  border: none;
  border-bottom: var(--text-color-light) solid 2px;
  background-color: var(--secondary-light);
  color: var(--text-color-light);
}

.term > input::placeholder, .answer > input::placeholder {
  color: var(--text-color-light);
  font-size: calc(var(--font-size) * .95);
  font-weight: 300;
  margin-bottom: 0;
}

.term > input:focus, .answer > input:focus {
  outline: 2px solid var(--secondary-light);
}

.create__btns {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.create__btns > button {
  padding: 10px 15px;
  background-color: var(--text-color-light);
  border: none;
  border-radius: 10px;
  font-size: calc(var(--font-size) * 1);
}

.create__btns > button:hover, .create__btns > button:focus {
  scale: .98;
  cursor: pointer;
    transition: 500ms;
}